
/*this just imports the font*/
@font-face {
	font-family: "Genshin";
	src: url("zh-cn.ttf");
}
/*loads the vid on our splash screen*/
#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 100%;
  filter: brightness(100%);
}

#backgroundVideo {
	animation-name: flashbang;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-play-state: paused;
}

/*#videoLink:active > #backgroundVideo {
	animation-play-state: running;
}*/

@keyframes flashbang {
	0% {filter: brightness(100%)}
	100% {filter: brightness(1000%)}
}

.content {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.content h1 {
	font-family: Genshin;
	text-align: center;
	padding:20px;
	margin:15px;
	color: #fff;
}

.content a {
	z-index: 1;
	text-decoration: none;
}

.regionButton {
	min-height:100%;
	align-items: center;
	justify-content: center;
	position: relative;
	display: flex;
}

.regionButton:hover{
	
}

.regionButton .emblem {
	width:300px;
	height:300px;
}

.regionButton:hover > .emblem {
	animation-name: regionHover;
	animation-duration: 1s;
	width:350px;
	height:350px;
}

.regionButton:not(:hover) > .emblem {
	animation-name: regionNotHover;
	animation-duration: 1s;
	width:300px;
	height:300px;
}

@keyframes regionHover {
	0% {width:300px; height:300px;}
	100% {width:350px; height:350px;}
}

@keyframes regionNotHover {
	0% {width:350px; height:350px;}
	100% {width:300px; height:300px;}
}

.inazuma {
	background-color:#af8ec1;
}

.liyue {
	background-color:#fab632;
}

.monstadt {
	background-color:#74c2a8;
}

#mondstadtBody {
	background-image:url('backgrounds/Mondstadt_bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

#liyueBody {
	background-image:url('backgrounds/LiyueBg.webp');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

#inazumaBody {
	background-image:url('backgrounds/InazumaBg.webp');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

#sumeruBody {
	background-image:url('backgrounds/SumeruBg.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

.sumeru {
	background-color:#a6c938;
}

.brokenTighnari {
	width:200px;
	height:200px;
}

.carousel-item {
	height:20rem;
	background: #777;
	position: relative;
}

.character-portrait {
	width:100%;
}

.characterTall {
	height:700px;
	visibility:hidden;
}

.buttonLearn {
	position: relative;
	left:300px;
	top:300px;
}

.buttonBack {
	position: relative;
	left:300px;
	top:315px;
}
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	position: fixed;
	margin-top:50px;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}